$color-primary: #12A755;
$color-dark: #121212;
$color-dark-lighter:#232323;
$color-light: #F3F3F3;
$color-medium: #888787;
$color-shadow: #00000065;

$color-white: #ffffff;
$color-black: #000000;

$font-family-base: 'Nunito Sans', sans-serif;

$font-size-normal: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 2.5rem;
$font-size-m-large: 3.125rem;
$font-size-x-large: 6.25rem;
